{% extends 'base.html' %}

{% block content %}
<h3>Manhã</h3>
    <div class="palestra">
        <h4><a href="/palestras/1/">10:00 - Título da palestra</a></h4>
        <h5><a href="/palestrantes/henrique-bastos/" title="Passionate software developer!">Henrique Bastos</a></h5>
        <p>Descrição da palestra</p>
    </div>
<h3>Tarde</h3>
    <div class="palestra">
        <h4><a href="/palestras/2/">12:00 - Título da palestra</a></h4>
        <h5><a href="/palestrantes/henrique-bastos/" title="Passionate software developer!">Henrique Bastos</a></h5>
        <p>Descrição da palestra</p>
    </div>
{% endblock content %}